---
import { Button } from "@/components/ui/button";
import { ChevronUpIcon } from "lucide-react";
---

<div
  class="transition-opacity duration-300 sticky bottom-8 flex justify-center py-4 opacity-0"
>
  <div onclick="scrollToTop()" id="back-to-top" class="w-fit">
    <Button variant="secondary" className="gap-2" size="icon">
      <ChevronUpIcon />
    </Button>
  </div>
</div>

<script is:inline>
  const backToTopButton = document.getElementById("back-to-top");

  const toggleVisibility = () => {
    if (window.scrollY > window.innerHeight / 2) {
      backToTopButton.classList.remove("opacity-0");
      backToTopButton.classList.add("opacity-100");
    } else {
      backToTopButton.classList.remove("opacity-100");
      backToTopButton.classList.add("opacity-0");
    }
  };

  const scrollToTop = () => {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  };

  window.addEventListener("scroll", toggleVisibility);
</script>
