---
import { Button } from "@/components/ui/button";

import { menu_items } from "@/config";

const pathname = new URL(Astro.request.url).pathname;
const pathname_part = pathname.split("/")[1];
---

<div class="flex gap-4">
  {
    menu_items.map((item) => (
      <a href={item.href}>
        <Button
          variant={
            "/" + pathname_part === "/" + item.href.split("/")[1]
              ? "secondary"
              : "ghost"
          }
          key={item.href}
          className={
            "/" + pathname_part === "/" + item.href.split("/")[1]
              ? "text-foreground"
              : "text-muted-foreground"
          }
          client:load
        >
          {item.title}
        </Button>
      </a>
    ))
  }
</div>
