{% extends "base.html" %}

{% block content %}
{%- set rel_attributes = macros_rel_attributes::rel_attributes() | trim -%}
<picture>
	<source srcset="{{ get_url(path='404.png') }}" media="(prefers-reduced-motion: reduce)"></source>
	<img id="not-found" class="pixels transparent no-hover" alt="404" {%- if config.markdown.lazy_async_image -%}decoding="async" loading="lazy"{%- endif -%} src="{{ get_url(path='404.gif') }}">
</picture>

<h1>Page Not Found</h1>

<p>The requested page could not be found.{% if config.extra.issues_url %} If you feel this is not normal, then you can create an issue on the issue tracker.{% endif %}</p>

<div class="dialog-buttons">
	<button class="inline-button" onclick="window.history.go(-1)">Go Back</button>
	{%- if config.extra.issues_url %}
		<a class="inline-button colored external" href="{{ config.extra.issues_url }}" rel="{{ rel_attributes }}">File an Issue</a>
	{%- endif %}
</div>
{% endblock content %}
