{% import "macros/rel_attributes.html" as macros_rel_attributes %}
{% import "macros/translate.html" as macros_translate %}

{%- set language_strings = load_data(path="i18n/" ~ lang ~ '.toml', required=false) -%}
{%- if not language_strings -%}
    {%- set language_strings = load_data(path="themes/duckquill/i18n/" ~ lang ~ ".toml", required=false) -%}
{%- endif -%}
{%- set rtl_languages = ["ar", "arc", "az", "dv", "ff", "he", "ku", "nqo", "fa", "rhg", "syc", "ur"] -%}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" {% if lang in rtl_languages %}dir="rtl"{% endif %} lang="{{ lang }}" {% include "partials/default_theme.html" %}>
{% include "partials/head.html" %}
<body>
{% block body %}
	{%- if config.extra.nav.links %}
		{% include "partials/nav.html" %}
	{%- endif %}
	<div id="main" class="container">
		{% block custom %}{% endblock custom %}
		{% block content %}{% endblock content %}
	</div>
	{% include "partials/footer.html" %}
{% endblock body %}
</body>
</html>
