{% extends "base.html" %}

{% block content %}
{%- set number_of_tags = terms | length -%}
<h1>{{ macros_translate::translate(key="tags_title", default="Tags", language_strings=language_strings) }}</h1>
<small>{{ macros_translate::translate(key="tags", number=number_of_tags, default="$NUMBER tags", language_strings=language_strings) }}
</small>
<br />
<br />
<ul class="tags">
	{%- for tag in terms -%}
		<li><a href="{{ get_taxonomy_url(kind='tags', name=tag.name, lang=lang) }}"><span class="tag">{{ tag.name }}</span><span class="count">{{ tag.pages | length }}</span></a></li>
	{%- endfor -%}
</ul>
{% endblock content %}
