{%- set author_list = page.authors -%}
{%- if author_list | length == 1 -%}
	{%- set author_string = author_list.0 -%}
{%- else -%}
	{%- set last_author = author_list | last -%}
	{%- set other_authors = author_list | slice(end=-1) -%}
	{%- set author_separator = macros_translate::translate(key="author_separator", default=", ", language_strings=language_strings) -%}
	{%- set conjunction = macros_translate::translate(key="author_conjunction", default=" and ", language_strings=language_strings) -%}
	{%- set author_string = other_authors | join(sep=author_separator) -%}
	{%- set author_string = author_string ~ conjunction ~ last_author -%}
{%- endif -%}

{%- set by_author = macros_translate::translate(key="by_author", default="By $AUTHOR", language_strings=language_strings) -%}
{{- by_author | replace(from="$AUTHOR", to=author_string) -}}
