{%- set rel_attributes = macros_rel_attributes::rel_attributes() | trim -%}

<footer id="site-footer">
  {%- if config.extra.footer.links %}
  <nav>
    <ul>
      {%- for link in config.extra.footer.links %}
      {%- if link.url is matching('https?://') %}
      <li>
        <a href="{{ link.url }}" rel="{{ rel_attributes }}"
          {%- if current_url | default(value='/') | trim_end_matches(pat='/') | safe == link.url | trim_end_matches(pat='/') | safe -%}
          class="active"
          {%- endif -%}>
          {{- macros_translate::translate(key=link.name, default=link.name, language_strings=language_strings) -}}
        </a>
      </li>
      {%- else %}
      <li>
        <a href="{{ get_url(path=link.url, lang=lang)}}"
          {%- if current_url | default(value='/') | trim_end_matches(pat='/') | safe == get_url(path=link.url, lang=lang) | trim_end_matches(pat='/') | safe -%}
          class="active"
          {%- endif -%}>
          {{- macros_translate::translate(key=link.name, default=link.name, language_strings=language_strings) -}}
        </a>
      </li>
      {%- endif %}
      {%- endfor %}
    </ul>
  </nav>
  {%- endif %}

  {%- if config.extra.footer.show_copyright %}
  {%- if config.extra.footer.copyright %}
  {{ config.extra.footer.copyright | markdown | safe }}
  {%- else %}
  <p>&copy; {{ config.title }}, {{ now() | date(format="%Y") }}</p>
  {%- endif %}
  {%- endif %}

  {%- if config.extra.source_url and config.extra.footer.show_source %}
  <p>
    <a href="{{ config.extra.source_url }}" rel="{{ rel_attributes }}">
      {{- macros_translate::translate(key="source", default="Website source", language_strings=language_strings) -}}
    </a>
  </p>
  {%- endif %}

  <p id="latest-commit">Last commit: <span id="commit-message"></span></p>

  {%- if config.extra.footer.socials %}
  <ul id="socials">
    {%- for link in config.extra.footer.socials %}
    <li>
      <a href="{{ link.url | safe }}" rel="{{ rel_attributes }} me" title="{{ link.name }}">
        <i class="icon" style='--icon: url("data:image/svg+xml,{{ link.icon }}")'></i>
        <span>{{ link.name }}</span>
      </a>
    </li>
    {%- endfor %}
  </ul>
  {%- endif %}
</footer>

<script>
async function fetchLatestCommit() {
  const repo = 'nixthe.systems';
  const user = 'pwnwriter';
  const url = `https://api.github.com/repos/${user}/${repo}/commits?per_page=1`;

  try {
    const response = await fetch(url);
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }
    const commits = await response.json();
    const latestCommit = commits[0];

    if (latestCommit) {
      const commitMessage = latestCommit.commit.message;
      const commitSha = latestCommit.sha;

      const messageParts = commitMessage.split(' ');
      let displayMessage = commitMessage;

      if (messageParts.length > 3) {
        displayMessage = messageParts.slice(0, 3).join(' ') + '...';
      }

      document.getElementById('commit-message').innerHTML = `<a href="https://github.com/${user}/${repo}/commit/${commitSha}" rel="noopener" target="_blank">${displayMessage}</a>`;
    }
  } catch (error) {
    console.error('Error fetching the latest commit:', error);
  }
}

fetchLatestCommit();
</script>
