{%- if page.extra.archive and page.extra.archive != true -%}
	<div class="statement-container archive">
		<strong class="big">
			<i class="icon"></i>
			{{- macros_translate::translate(key="archived", default="Archived", language_strings=language_strings) -}}
		</strong>
		{{ page.extra.archive | markdown | safe }}
	</div>
{%- endif -%}

{%- if page.extra.trigger -%}
	<div class="statement-container trigger">
		<strong class="big">
			<i class="icon"></i>
			{{- macros_translate::translate(key="trigger_warning", default="Trigger Warning", language_strings=language_strings) -}}
		</strong>
		{{ page.extra.trigger | markdown | safe }}
	</div>
{%- endif -%}

{%- if page.extra.disclaimer -%}
	<div class="statement-container disclaimer">
		<strong class="big">
			<i class="icon"></i>
			{{-macros_translate::translate(key="disclaimer", default="Disclaimer", language_strings=language_strings) -}}
		</strong>
		{{ page.extra.disclaimer | markdown | safe }}
	</div>
{%- endif -%}
