{%- if page.extra.toc -%}
	<h2>{{ macros_translate::translate(key="table_of_contents", default="Table of Contents", language_strings=language_strings) }}</h2>
	<ul>
		{%- for h1 in page.toc -%}
			<li>
				<a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
				{%- if h1.children -%}
					<ul>
						{%- for h2 in h1.children -%}
							<li>
								<a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
							</li>
						{%- endfor -%}
					</ul>
				{%- endif -%}
			</li>
		{%- endfor -%}
	</ul>
{%- elif section.extra.toc -%}
	<h2>{{ macros_translate::translate(key="table_of_contents", default="Table of Contents", language_strings=language_strings) }}</h2>
	<ul>
		{%- for h1 in section.toc -%}
			<li>
				<a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
				{%- if h1.children -%}
					<ul>
						{%- for h2 in h1.children -%}
							<li>
								<a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
							</li>
						{%- endfor -%}
					</ul>
				{%- endif -%}
			</li>
		{%- endfor -%}
	</ul>
{%- endif -%}
