---
import { Button } from "@/components/ui/button";

import { ChevronUp } from "lucide-react";

// To pass the tailwindcss classes to the astro component
const { class: className } = Astro.props;
---

<Button
  id="back-to-top"
  class:list={["opacity-0", className]}
  size="icon"
  variant="outline"
>
  <ChevronUp />
</Button>

<script is:inline>
  function backToTop() {
    const button = document.querySelector("#back-to-top");

    function toggleButtonVisibility() {
      if (window.scrollY > window.innerHeight / 2) {
        button.classList.remove("opacity-0");
        button.classList.add("opacity-100");
      } else {
        button.classList.remove("opacity-100");
        button.classList.add("opacity-0");
      }
    }

    button.addEventListener("click", () => {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, and Opera
    });

    window.addEventListener("scroll", toggleButtonVisibility);
  }

  backToTop();
</script>
