---
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
} from "@/components/ui/breadcrumb";

import type { BreadcrumbsProps } from "@/lib/types";
import { buildBreadcrumbs } from "@/lib/utils";

// Get the current document's slug from route params
const slug: string = Astro.url.pathname;

// Build the breadcrumb trail
const breadcrumbs: BreadcrumbsProps = buildBreadcrumbs(slug || "");

// To pass the tailwindcss classes to the astro component
const { class: className } = Astro.props;
---

<div class:list={className}>
  <Breadcrumb>
    <BreadcrumbList className="m-0">
      {
        breadcrumbs.map((breadcrumb, index) => (
          <BreadcrumbItem>
            {index < breadcrumbs.length - 1 ? (
              <BreadcrumbLink href={breadcrumb.link} className="no-underline">
                {breadcrumb.title}
              </BreadcrumbLink>
            ) : (
              <span>{breadcrumb.title}</span>
            )}
            {index < breadcrumbs.length - 1 && <span> / </span>}
          </BreadcrumbItem>
        ))
      }
    </BreadcrumbList>
  </Breadcrumb>
</div>
