---
import { capitalizeFirstLetter } from "@/lib/utils";
import type { SideNavMenuProps } from "@/lib/types";

const { items, level } = Astro.props as SideNavMenuProps;
const pathname: string = new URL(Astro.request.url).pathname;

// To pass the tailwindcss classes to the astro component
const { class: className } = Astro.props;
---

<ul class:list={["list-none m-0", className]}>
  {
    items
      .filter((item) => !item.draft)
      .map((item) => {
        const label = item.title
          ? capitalizeFirstLetter(item.title)
          : capitalizeFirstLetter(item.slug.split("/").pop() || "");
        const className = `
        ${level === 0 ? "font-semibold" : "text-muted-foreground"}
        ${pathname === "/" + item.slug ? "text-primary" : "no-underline"}
        `.trim();
        return (
          <li class="w-full">
            <a
              href={`/${item.slug}`}
              class={`${className}  text-sm leading-none w-full`}
            >
              {label}
            </a>
            {item.children.length > 0 && (
              <Astro.self items={item.children} level={level + 1} />
            )}
          </li>
        );
      })
  }
</ul>
