---
import type { HeadingHierarchy, HeadingProps } from "@/lib/types";
import { createHeadingHierarchy } from "@/lib/utils";

const { headings } = Astro.props as HeadingProps;
const toc: HeadingHierarchy[] = createHeadingHierarchy(headings ?? []);
const hasToC = toc.length > 1;

// To pass the tailwindcss classes to the astro component
const { class: className } = Astro.props;
---

{
  hasToC && (
    <div class:list={["relative", className]}>
      <h2 class="text-xl border-none italic">On This Page</h2>
      <ul class="list-none m-0">
        {toc.map((heading) => (
          <li class=`${heading.depth === 2 ? "font-semibold" : "text-muted-foreground"}`>
            <a href={`#${heading.slug}`} class="text-sm w-full leading-none no-underline">
              {heading.text}
              </a>
          </li>
        ))}
      </ul>
    </div>
  )
}
