@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 23% 95%; /* Base */
    --foreground: 234 16% 35%; /* Text */
    --muted: 220 23% 95%; /* Base */
    --muted-foreground: 232 10% 53%; /* Overlay 2 */
    --popover: 220 21% 89%; /* Crust */
    --popover-foreground: 234 16% 35%; /* Text */
    --card: 220 22% 92%; /* Mantle */
    --card-foreground: 234 16% 35%; /* Text */
    --border: 223 16% 83%; /* Surface 0 */
    --input: 223 16% 83%; /* Surface 0 */
    --primary: 220 91% 54%; /* Blue */
    --primary-foreground: 220 23% 95%; /* Base */
    --secondary: 220 91% 85%; /* Blue Modified */
    --secondary-foreground: 234 16% 35%; /* Text */
    --accent: 234 16% 35%; /* Text */
    --accent-foreground: 220 23% 95%; /* Base */
    --destructive: 347 87% 44%; /* Red */
    --destructive-foreground: 220 23% 95%; /* Base */
    --ring: 220 91% 54%; /* Blue */
    --radius: 0.3rem;

    --Pink: 316 73% 69%;
    --Purple: 266 85% 58%;
    --Red: 347 87% 44%;
    --Orange: 22 99% 52%;
    --Yellow: 35 77% 49%;
    --Green: 109 58% 40%;
    --Teal: 183 74% 35%;
    --Sky: 197 97% 46%;
    --Blue: 220 91% 54%;
  }

  .dark {
    --background: 232 23% 18%;
    --foreground: 227 68% 88%;
    --muted: 232 23% 18%;
    --muted-foreground: 228 20% 65%;
    --popover: 236 23% 12%;
    --popover-foreground: 227 68% 88%;
    --card: 233 23% 15%;
    --card-foreground: 227 68% 88%;
    --border: 230 19% 26%;
    --input: 230 19% 26%;
    --primary: 220 83% 75%;
    --primary-foreground: 232 23% 18%;
    --secondary: 220 83% 85%;
    --secondary-foreground: 232 23% 18%;
    --accent: 227 68% 88%;
    --accent-foreground: 232 23% 18%;
    --destructive: 351 74% 73%;
    --destructive-foreground: 232 23% 18%;
    --ring: 267 83% 80%;

    --Pink: 316 74% 85%;
    --Purple: 267 83% 80%;
    --Red: 351 74% 73%;
    --Orange: 21 86% 73%;
    --Yellow: 40 70% 78%;
    --Green: 105 48% 72%;
    --Teal: 171 47% 69%;
    --Sky: 189 59% 73%;
    --Blue: 220 83% 75%;
  }
}

@layer base {
  * {
    @apply border-border scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1 {
  @apply scroll-m-20 text-4xl font-bold lg:text-5xl tracking-tight pt-2;
}

h2 {
  @apply mt-5 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-wide transition-colors first:mt-0;
}

h3 {
  @apply mt-3 scroll-m-20 text-2xl font-semibold tracking-tight;
}

h4 {
  @apply scroll-m-20 text-xl font-semibold tracking-tight;
}

p {
  @apply leading-7 [&:not(:first-child)]:mt-2;
}

a {
  @apply underline underline-offset-4 hover:text-primary;
}

blockquote {
  @apply mt-6 border-l-2 pl-6 italic border-primary;
}

pre {
  @apply border rounded;
}

ul {
  @apply my-6 ml-6 list-disc [&>li]:mt-2;
}

ol {
  @apply my-6 ml-6 list-decimal [&>li]:mt-2;
}

table {
  @apply w-full;
}

tr {
  @apply m-0 border-t p-0 even:bg-muted;
}

th {
  @apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
}

td {
  @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
}

.lead {
  @apply text-xl text-muted-foreground;
}

.large {
  @apply text-lg font-semibold;
}

.small {
  @apply text-sm font-medium leading-none;
}

.muted {
  @apply text-sm text-muted-foreground;
}

::selection {
  @apply bg-foreground text-background;
}

/* ===== scrollbar ===== */

/* width */
::-webkit-scrollbar {
  @apply w-3 h-3 rounded-[radius] transition-colors;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-primary-foreground;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-border border-border;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}

/* ===== codeblock ===== */

.astro-code {
  @apply p-4 mt-2;
}

/* ===== markdown ===== */

.prose iframe {
  @apply w-full aspect-video h-auto;
}

.prose code:not(.astro-code code) {
  @apply bg-popover text-popover-foreground py-1 px-2 rounded;
}

.prose h1 {
  @apply italic;
}

.prose h4 {
  @apply mt-3;
}

.prose details {
  @apply pl-4 border-l-4 border-primary py-2;
}

.prose summary {
  @apply pl-0;
}

.prose .contains-task-list li {
  @apply list-none;
}

.prose li input {
  @apply appearance-none w-3 h-3 border-2 border-Red rounded-sm bg-background checked:bg-Green checked:border-0 mr-2;
}

/* ===== pattern ===== */
.pattern {
  --dot-bg: hsl(var(--background));
  --dot-color: hsl(var(--foreground));
  --dot-size: 1px;
  --dot-space: 80px;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

/* callout */
.callout a {
  @apply hover:text-background;
}

/* shiki theme */
html.dark .astro-code,
html.dark .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
