---
import { Terminal, type LucideIcon } from "lucide-react";
import { Button } from "@/components/ui/button";

interface Props {
  title: string;
  icon?: LucideIcon;
  color?: string;
}

const { title, icon: Icon = Terminal, color = "primary" } = Astro.props;
---

<div
  class={`border w-full px-6 py-4 flex flex-col gap-4 items-start bg-card text-card-foreground`}
>
  <div class="flex flex-row gap-4 justify-center">
    <Button
      size="icon"
      variant="outline"
      className={`bg-${color} text-background hover:bg-${color} hover:text-background cursor-default bg-opacity-50 border-${color}`}
    >
      <Icon className="w-[1.2rem] h-[1.2rem]" />
    </Button>
    <h4 class="font-semibold tracking-wide m-0">
      {title}
    </h4>
  </div>
  <div class="text-muted-foreground">
    <slot />
  </div>
</div>
