.dialog-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	margin-block-start: 4rem;
}

a.inline-button {
	text-decoration: none;
}

button.inline-button {
	appearance: none;
	cursor: pointer;
	border: none;
}

a.inline-button,
button.inline-button {
	transition: var(--transition);
	box-shadow: var(--edge-highlight);
	border-radius: var(--rounded-corner);
	background-color: var(--fg-muted-1);
	padding: 0.75rem 1rem;
	color: var(--fg-muted-5);
	font-weight: bold;
	font-size: var(--font-size-small);
	line-height: 1;

	&:hover {
		background-color: var(--fg-muted-2);
		color: var(--fg-color);
	}

	&:active {
		transform: var(--active);
	}

	&.colored {
		box-shadow: none;
		background-color: transparent;
		color: var(--accent-color);

		&:hover {
			box-shadow: var(--edge-highlight);
			background-color: var(--accent-color-alpha);
		}
	}
}
