#site-footer {
	margin-block-start: 4rem;
	padding: 2rem 0;
	text-align: center;

	nav {
		display: inline-block;
		margin: 0 auto 1rem;
		box-shadow: var(--edge-highlight);
		border-radius: 1.375rem;
		background-color: var(--fg-muted-1);
		padding: 0.25rem;
		max-width: 90%;

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			gap: 0.25rem;
			margin: 0;
			padding: 0;
		}

		li {
			display: flex;
			margin: 0;
			padding: 0;
			list-style: none;

			@media only screen and (max-width: 480px) {
				flex: 0 0 100%;
			}
		}

		a {
			flex: 1;
			transition: var(--transition);
			border-radius: 999px;
			padding: 0.375rem 0.75rem;
			color: var(--fg-muted-4);
			text-align: center;
			text-decoration: none;

			&.active {
				box-shadow: var(--edge-highlight);
				background-color: var(--accent-color-alpha);
				color: var(--accent-color);

				&:hover {
					background-color: var(--accent-color);
					color: var(--contrast-color);
				}
			}

			&:hover {
				box-shadow: var(--edge-highlight);
				background-color: var(--fg-muted-1);
				color: var(--fg-muted-5);
			}

			&:active {
				transform: var(--active);
			}
		}
	}

	#socials {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 0.5rem;
		margin-block-start: 1rem;
		padding: 0;

		li {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		a {
			display: block;
			transition: var(--transition);
			border-radius: 999px;
			padding: 0.5rem;
			color: var(--fg-muted-4);
			line-height: 0;

			&:hover {
				box-shadow: var(--edge-highlight);
				background-color: var(--fg-muted-1);
				color: var(--fg-muted-5);
			}

			&:active {
				transform: var(--active);
			}

			.icon {
				mask-image: var(--icon);
				transition: var(--transition);
				width: 1.5rem;
				height: 1.5rem;
			}

			span {
				display: none;
			}
		}
	}

	p {
		margin: 1rem auto;
	}

	.link {
		display: inline-block;
		transition: var(--transition);
		box-shadow: var(--edge-highlight);
		border-radius: var(--rounded-corner-small);
		background-color: var(--accent-color-alpha);
		padding: 0.25rem 0.375rem;
		line-height: 1;
		text-decoration: none;

		&:hover {
			background-color: var(--accent-color);
			color: var(--contrast-color);
		}

		&:active {
			transform: var(--active);
		}
	}
}
