span.spoiler {
	filter: blur(0.25rem);
	transition: var(--transition);

	&:hover,
	&:active {
		filter: none;
	}

	&.solid {
		filter: none;
		border-radius: var(--rounded-corner-small);
		background-color: var(--fg-muted-4);
		color: transparent;

		&:hover,
		&:active {
			background-color: transparent;
			color: inherit;
		}
	}
}
