table {
	box-shadow: var(--edge-highlight);
	border-radius: var(--rounded-corner);
	border-collapse: collapse;
	background-color: var(--fg-muted-1);
	width: 100%;
	overflow: hidden;

	tr {
		&:nth-child(even) {
			background-color: var(--fg-muted-1);
		}

		th,
		td {
			padding: 0.5rem 1rem;
		}

		th {
			background-color: var(--fg-muted-2);
			font-weight: bold;
		}
	}
}
