h1,
h2,
h3,
h4,
h5,
h6 {
	&:hover .zola-anchor {
		opacity: 1;
	}
}

.zola-anchor {
	display: inline-block;
	opacity: 0;
	transition: var(--transition);
	margin: 0 0.25em;
	color: var(--fg-muted-4);

	&:hover {
		color: var(--accent-color);
	}

	&:active {
		transform: var(--active);
	}

	&:focus-visible {
		opacity: 1;
	}

	.icon {
		mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M4 4C1.8 4 0 5.8 0 8s1.8 4 4 4v-2c-1.125 0-2-.875-2-2s.875-2 2-2h3c1.125 0 2 .875 2 2 0 .84-.496 1.535-1.207 1.84l.785 1.84A4 4 0 0 0 11 8c0-2.2-1.8-4-4-4zm8 2v2c1.125 0 2 .875 2 2s-.875 2-2 2H9c-1.125 0-2-.875-2-2 0-.828.484-1.516 1.184-1.828l-.817-1.828A4.01 4.01 0 0 0 5 10c0 2.2 1.8 4 4 4h3c2.2 0 4-1.8 4-4s-1.8-4-4-4'/%3E%3C/svg%3E");
		mask-size: cover;
		transition: var(--transition);
		width: 1em;
		height: 1em;
	}
}

:target .zola-anchor {
	color: var(--accent-color-alpha);
}
