{%- if url_min -%}
	<a href="{{ url }}">
		<img class="
			{% if full %}full{% endif %}
			{% if full_bleed %}full-bleed{% endif %}
			{% if start %}start{% endif %}
			{% if end %}end{% endif %}
			{% if pixels %}pixels{% endif %}
			{% if transparent %}transparent{% endif %}
			{% if no_hover %}no-hover{% endif %}
			{% if spoiler %}spoiler{% endif %}
			{% if spoiler and solid %}solid{% endif %}
		"
		{%- if alt -%}alt="{{ alt }}"{%- endif -%}
		src="{{ url_min }}"
		{%- if config.markdown.lazy_async_image -%}decoding="async" loading="lazy"{%- endif -%}
		/>
	</a>
{%- else -%}
	<img class="
			{% if full %}full{% endif %}
			{% if full_bleed %}full-bleed{% endif %}
			{% if start %}start{% endif %}
			{% if end %}end{% endif %}
			{% if pixels %}pixels{% endif %}
			{% if transparent %}transparent{% endif %}
			{% if no_hover %}no-hover{% endif %}
			{% if spoiler %}spoiler{% endif %}
			{% if spoiler and solid %}solid{% endif %}
		"
		{%- if alt -%}alt="{{ alt }}"{%- endif -%}
		src="{{ url }}"
		{%- if config.markdown.lazy_async_image -%}decoding="async" loading="lazy"{%- endif -%}
		/>
{%- endif -%}
